<launch>

	<!-- load panda model and gazebo parameters -->
	<include file="$(find panda_description)/launch/description.launch"/>

	<!-- run the moveit tutorial node -->
  <node pkg="moveit_solution"
        name="moveit_solution_node"
        type="moveit_solution_node"
        output="screen"
  />
  
  <!-- run the model spawning node to add a cube into the simulation -->
  <node pkg="moveit_solution"
  			name="moveit_spawn_node"
  			type="spawn.py"
  			output="screen"
  />
  
</launch>
