[submodule "src/panda_moveit_config"]
	path = src/panda_moveit_config
	url = https://github.com/COMP0129-S22/panda_moveit_config.git
[submodule "src/panda_description"]
	path = src/panda_description
	url = https://github.com/COMP0129-S22/panda_description.git
[submodule "src/realsense_gazebo_plugin"]
	path = src/realsense_gazebo_plugin
	url = https://github.com/RPL-CS-UCL/realsense_gazebo_plugin.git
[submodule "src/rpl_panda_with_rs"]
	path = src/rpl_panda_with_rs
	url = https://github.com/RPL-CS-UCL/rpl_panda_with_rs.git
